<!DOCTYPE html>
<html lang="en">

<%- include ('./partials/header.ejs') %>
 
<body>

<%- include ('./partials/navbar.ejs') %>

    <div class="container">

        <div class="text-center mt-3">
            <a class="mx-auto" style="text-decoration: none !important;" href="/perguntar">
                <button class="mx-auto text-center btn rounded btn-primary">
                    <img src="/img/questao.png" style="height: 60px;" alt="questão"> 
                    <span class="h4">
                        <strong>
                            I got a question
                        </strong>
                    </span>
                </button>
            </a> 
        </div>
        
        <br>
        <br>

        <% perguntas.forEach(pergunta => { %>

            <div class="card">
                <div class="card-body">
                    <h3><%= pergunta.title %></h3>
                </div>

                <div class="card-footer">
                    <a href="/pergunta/<%= pergunta.id%>">
                        <button class="btn btn-primary">
                            <img src="/img/exclamacao.png" style="height: 25px;" alt="responder"> 
                            <strong> Reply </strong>
                        </button>
                    </a>
                </div>
            </div>
            <br>
        <% }) %>

    </div>

    
</body>
    <%- include ('./partials/footer.ejs') %>
</html>